// https://getbootstrap.com/docs/5.1/customize/sass/

// Override theme

// Setup palette
$white: white;
$off-white: #ced4da; // $gray-400, primarily for text
$bg-default: #212529;
// Slightly lighter than default background
$bg-lighter: #343a40;
// Much lighter than default background
$bg-light: #495057;
// Much darker than default background
$bg-dark: black;
// External links
$ext-link: rgb(140, 211, 238);
$ext-link-hover: Aqua;
$ext-link-visited: Violet;
$ext-link-visited-hover: DeepPink;

// Navbar
$navbar-dark-hover-color: $white;

// Links
$link-color: $ext-link;
$link-hover-color: $ext-link-hover;
$link-visited-color: $ext-link-visited; // Added, doesn't exist in Bootstrap
$link-visited-hover-color: $ext-link-visited-hover; // Added, doesn't exist in Bootstrap
$btn-link-color: $ext-link;
$btn-link-hover-color: $ext-link-hover;

// Button style
$btn-border-radius: 1.5rem;
$btn-border-width: 0.125rem;
$btn-border-highlight-color: $white;

// Rounding
$border-radius-sm:  .4rem; // rounded-1
$border-radius:     .6rem; // rounded-2
$border-radius-lg:  .8rem; // rounded-3

// Set theme colours

// Defaults
$body-bg: $bg-default;
$body-color: $off-white;

$primary: $white;
$secondary: $bg-default;
$light: $bg-light;
$lighter: $bg-lighter;
$dark: $bg-dark;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "lighter":    $lighter,
  "dark":       $dark,
  "off-white":  $off-white,
);

/*
Include remainder of required Bootstrap stylesheets
You cannot use the existing variables to help customisation due a limitation in Sass where once a default variable or map has been used, it cannot be updated
https://blog.getbootstrap.com/2022/07/19/bootstrap-5-2-0/
https://github.com/twbs/bootstrap/issues/35815
https://github.com/twbs/bootstrap/issues/33263
Looks like this will be fixed in v6 by pulling out the colours to a separate /colors file
*/
@import "~bootstrap/scss/bootstrap";

// Customise button borders - create an expanding border effect
// https://getbootstrap.com/docs/5.1/components/buttons/#mixins

// General
@each $colorLabel, $colorValue in $theme-colors {
  .btn-#{$colorLabel} {
    @include button-variant(
      $colorValue,
      $colorValue,
      // Remove shading
      $hover-background: $colorValue,
      // Remove shading
      $active-background: $colorValue);
    // Stop box-shadow overlapping other components
    margin: calc($btn-border-width / 2);
    &:hover, &:focus, &:focus-visible, &:active {
      // Make original border disappear into background
      border-color: $bg-default;
      // Create a secondary solid border to give an expansion effect
      // The !important removes the box-shadow that appears when you click and hold on a button
      box-shadow: 0 0 0 $btn-border-width $btn-border-highlight-color !important;
    }
  }
}

// Specific
.btn-secondary {
  border-color: $bg-light;
}

.btn-link {
  &:hover, &:focus, &:focus-visible, &:active {
    // Match button highlight behaviour above
    border-color: $bg-default;
    box-shadow: 0 0 0 $btn-border-width $btn-border-highlight-color;
  }
}

// Customise navbar

.navbar-custom {
  @extend .navbar-dark;
  background-color: $bg-lighter;
}

// Customise links

a:hover {
  color: $link-hover-color;
}

a:visited {
  color: $link-visited-color;
}

a:visited:hover {
  color: $link-visited-hover-color;
}